<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SocketIO streaming</title>
</head>
<body>
<script src="https://code.jquery.com/jquery-2.2.3.min.js"
        integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous"></script>

<script type="text/javascript">
    $(document).ready(function () {
        var socket = io.connect('http://' + document.domain + ':' + location.port + '/chat');
        socket.on('connect', function () {
            console.log("CONNECTED TO THE SERVER")
            socket.emit('hello', {data: 'Connected'});
            console.log("Hello has been emitted");
        });
        socket.on('status', function (data) {
            console.log("DATA: " + data);
        });
    });
</script>

<script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
</body>
</html>